@model CharacterRoller.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <h3>Base Info</h3>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proficiency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proficiency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.characterRace.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.characterRace.Name)
        </dd>
        <h3>Ability Scores</h3>
        @foreach (var AbilityScore in Model.AbilityScoreList)
        {
            <dt>
                <p>@AbilityScore.Key</p>
            </dt>
            <dd>
                <p>@AbilityScore.Value</p>
            </dd>
        }
        <h3>Skills</h3>
        @foreach (var skill in Model.SkillList)
        {
            <dt>
                <p>@skill.Key</p>
            </dt>
            <dd>
                @if (skill.Value > 0)
                {<p>+@skill.Value</p>}
                @if (skill.Value < 1)
                {<p>@skill.Value</p>}
            </dd>
        }
        <h3>Racial Features</h3>
        @foreach (var item in Model.characterRace.raceFeatures)
        {
            <dt>
                <p>@item.raceFeatureName</p>
            </dt>
            <dd>
                <p>@item.Feature</p>
            </dd>
        }
    <h3>@Html.DisplayFor(model => model.characterClass.Name)</h3>

        @foreach (KeyValuePair<string, string> clasFeature in Model.CharacterClassFeatures)
        {
            <dt>
                <p>@clasFeature.Key</p>
            </dt>
            <dd>
                <p>@clasFeature.Value</p>
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
